<body>
  <div style="padding: 40px 200px">
      <div class="col" style="padding: 10px 150px;">
          <!--Card-->
          <mdb-card cascade="true">
  
              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                  <a>
                      <div class="mask rgba-white-slight"></div>
                  </a>
              </div>
              <!--/Card image-->
  
              <mdb-card-body cascade="true" class="text-center">
   <mdb-card-text>
<!-- Section: form gradient -->
<section class="form-gradient mb-5">

    <!--Form with header-->
    <mdb-card>
  
      <!--Header-->
      <div class="header peach-gradient">
  
        <div class="row d-flex justify-content-center">
          <h3 class="white-text mb-0 py-5 font-weight-bold">Mantor Section</h3>
        </div>
  
      </div>
      <!--Header-->
  
      <mdb-card-body class="mx-4">
  <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="md-form">
         
          <input type="text" id="form104" class="form-control" mdbInput formControlName="team">
          <label for="form104">Your team</label>
        </div>
  
        <div class="md-form">
          
          <div class="md-form">
          
            <input type="date" id="input" class="form-control" mdbInput formControlName="date">
            <label for="input">Choose your date</label>
          </div>
        </div>
  
        <div class="md-form">
        
          <input type="text" id="form106" class="form-control" mdbInput formControlName="Subject">
          <label for="form106">Subject</label>
        </div>
  
        <div class="md-form">
         
          <textarea type="text" id="form107" class="md-textarea form-control" rows="5" mdbInput formControlName="TaskDetails"></textarea>
          <label for="form107">TaskDetails</label>
        </div>
  
  
        <!--Grid row-->
        <div class="row d-flex align-items-center mb-3 mt-4">
  
          <!--Grid column-->
          <div class="col-md-12">
            <div class="text-center">
              <button type="submit" mdbBtn color="grey" rounded="true" class="z-depth-1a">Assign</button>
            </div>
          </div>
          <!--Grid column-->
  
        </div>
      </form >
        <!--Grid row-->
      </mdb-card-body>
  
    </mdb-card>
    <!--/Form with header-->
  
  </section>
  <!-- Section: form gradient -->
  <!-- Section: form dark -->
  
  <!-- Section: form dark -->
</mdb-card-text>
</mdb-card-body>
<!--/.Card content-->

</mdb-card>
<!--/.Card-->
</div>
</div>
</body>